{% extends "layout.html" %}
{% block content %}
<div class="background">
    <h1>Background and skills:</h1>
    <h3>Job experience:</h3>
    <p>Veritas Technologies - Software Quality Assurance Engineer (2013-2018):
                <ul>
                    <br>
                    <p>Roles and responsiblities:
                        <li>Prepared reusable functions – improving robustness, reusability and maintainability of the test script using
                                PowerShell, C# and FitNesse framework.</li>
                        <li>Designed base framework for an eDiscovery and compliance product using C# and FitNesse
                                and automated 100+ legacy test cases saving up about 10% of manual efforts spent during regression cycles.</li>
                        <li>Automated the UI workflow of an archiving product, Enterprise Vault using C#.</li>
                        <li>Worked as an automation lead for 2 teams and ensured no regression debt was added at the end of release
                                cycle.</li>
                        <li>Developed and automated PowerShell cmdlets designed to provide functionalities such as adding an archiving
                                        target, removing the target, running archiving task, Etc.</li>
                        <li>Defined the scope of testing within the context of each release/delivery. Applied appropriate test measurements
                                                and metrics in the product and testing team.</li>
                    </p>
                </ul>
    </p>
    
    <h3>Skills:</h3>
    <ul class="skillsul">             
            <li>Python, Java, C#</li>
            <li>Mongo, SQL</li>
            <li>AWS, Docker, Kubernetes</li>
            <li>Express, Node.js</li>
            <li>HTML, CSS, JavaScript</li>
            <li>PowerShell Scripting</li>
    </ul>

</div>
{% endblock %}
