{% extends "layout.html" %}
{% block content %}
<div class="aboutme">
    <h1>Some unnecessary information about me!</h1>
    <p><br>I'm currently persuing masters in Software Engineering at San Jose State University. <br>
    I Have a Bachelors degree in Information Techonology. <br>
    I Worked as a Software Quality Assurance Engineer in Pune, India for 4 years 8 months. <br> 
    <br> 
    Big dream: Work my way towards becoming a techichal director one day :) <br><br>
    <p>
    <h3>My hobbies include:</h3>
    <ul>             
            <li>Travelling.</li>
            <li>Sports: Any sort of outdoor activity.</li>
            <li>Arts and crafts: Especially painting.</li>
            <li>Exploring new places.</li>
            <li>Spending time on the beach!</li>
    </ul>
</div>
{% endblock %}
